# Базові налаштування
aws_region = "eu-central-1"

# VPC
vpc_name        = "demo-vpc"
vpc_cidr_block  = "10.0.0.0/16"
public_subnets  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnets = ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]

# ECR
ecr_repository_name = "demo-ecr"

# EKS
eks_cluster_name    = "eks-cluster-demo"
eks_cluster_version = "1.36"

eks_instance_type = "t3.medium"
eks_desired_size  = 2
eks_max_size      = 3
eks_min_size      = 1
allowed_api_ips   = ["0.0.0.0/0"]

# Argo CD
argocd_app_repo_url        = "https://github.com/alekseiuk/hw-devops.git"
argocd_app_target_revision = "final-project"

# База даних (RDS / Aurora)
db_identifier              = "goitdb"
use_aurora                 = false # Перемкніть на true, якщо потрібна Aurora
db_name                    = "goitdb"
db_username                = "postgres"
db_instance_class          = "db.t3.micro"
db_engine_version_rds      = "17.10"
db_parameter_group_rds     = "postgres17"
db_allocated_storage       = 20
db_multi_az                = false
db_backup_retention_period = 0
aurora_replica_count       = 1

db_parameters = {
  max_connections            = "200"
  log_min_duration_statement = "500"
  log_statement              = "all"
  work_mem                   = "4096"
}